<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.vestigl.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Xone Controller</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Vestigl Creations. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>Xone_Driver_Pref_Pane</string>
	<key>NSPrefPaneIconFile</key>
	<string>Xone_Driver_Pref_Pane.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Xone Controller</string>
	<key>NSPrincipalClass</key>
	<string>Xone_Driver_Pref_Pane</string>
</dict>
</plist>
