<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Xbox One Controller Driver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6263827F1A8BDC3B004FE8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62788F6119C37D09000435ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>628301BE1A8A91C7005CB93B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>628301C91A8A9208005CB93B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
